@using CSV;
@using System.Globalization;
@model IList<EmployeePairResult>
@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>
@using (Html.BeginForm("Index", "EmployeePair", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" accept="text/csv" />
    <input type="submit" value="Upload" />
    <select name="cultureInfos">
        <option value="" disabled selected>Choose culture</option>
        @foreach (var item in CultureInfo.GetCultures(CultureTypes.NeutralCultures))
        {
            <option value="@item.TwoLetterISOLanguageName">@item.DisplayName</option>
        }
    </select>

    <input type="text" name="dateFormat" placeholder="Date format" 
    title="dd - day
MM - month
yy - year
HH - hour (24)
hh - hour (12)
mm - minute"/>
}
<tr></tr>
<table id="employeePairs">
    <thead>
        <tr>
            <th>
                Employee 1
            </th>
            <th>
                Employee 2
            </th>
            <th>
                Project
            </th>
            <th>
                Worked Days
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeId1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeId2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkedDays)
                </td>
            </tr>
        }
    </tbody>
</table>

